body {
    color: #FFF !important;
    background-color: #0b0405 !important;
    
  }
  .pd{
    margin-left: 2%;
  }
  
  col-md-4 img{
    border-radius: 0 0 9px;
    transition: 1s;
  }
  .col-md-4 img:hover {
    transform: scale(1.0);
   
  
  
  }
  .img-a:hover{
    background-color: red;
    }
    .img-b:hover{
        background-color: rgb(247, 69, 69);
        }
  
  .card-body{
    background-color: ;
    color: white;
    border-radius: 0 0 9px 9px;
    text-align: center;
  }
  
  .card{
    transition: 0.7s;
  }
  .card:hover{
    transform: scale(1.06);
  }
  