.bgimg{
  background-image: url(https://images.pexels.com/photos/1820563/pexels-photo-1820563.jpeg?auto=compress&cs=tinysrgb&w=600);
 background-size: cover;
}
section{
  background-color: #121212;
  color: white;
  opacity: 1;
}
.color{
  background-color: #212529;
  color: white;
}