/* .cb{
    background-color: red);
} */
/* + */
.bgimg{
    height: 577px;
    
    background-image: url("../imeges/buyimg/FinanceBannerWebDT.svg");
 }

 body
  {
 color: white !important;
 background-color: black !important;
 }

 .card{
    background-color: black !important;
    color: white !important;
 }


 .card:hover{
    background-color: black !important;
    color: white !important;
 }