footer{
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
}

.pages{
    margin-top: 1%  !important;
}

.info{
    margin-top: 1%  !important;
} 

.icons{
    margin-top: 1% !important;
    
}

.icons i{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.pages a
{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.pages a:hover
{
    text-decoration: none;
    color: #cc1a35;
    opacity: 1;
}

.icons i:hover{
    text-decoration: none;
    color: #cc1a35;
    opacity: 1;
}
