body{
    font-family: georama , sans-serif !important;
  
}

/* nav icons a tag */


.nav-link{
    color: #ffff !important;
    font-family: Montserrat !important;
    font-size: .9rem !important;
    text-transform:uppercase;
    
}

.nav-link:hover{
    color: #cb0202 !important;
}

#navbarText{
    margin-left: 280px !important;
}

#navbarText a{
    padding: 20px;
    font-size: 1rem !important;
}

#Logo{
    margin-left: 20px;
}

.navbar{
    height: 70px !important;
}

.nav-item i{
    font-size: 1.5rem;
    box-shadow:  red 10px 10px 10px  !important;
   
}

